# Environment variables
.env

# Log files
*.log
combined_scraper.log

# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.venv
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/
.env


